<header id="commonHeader">
        <section id="flowsHead" class="wf-mplus1p">あなたに合ったアニメ・漫画が1分でわかる！</section>
        <section id="flows" class="wf-mplus1p">性格診断で正確にわかる診断☺︎</section>
        </header>
        
        <div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>1分だけ下記の質問に答えてみてください。あなたにぴったりのアニメ・漫画がわかります!</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>あなたの性格は明るい方ですか?</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="2" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>物事に対して王道であることを求めますか？</div>
                        <div class="qabox">
                            <a href="#4" onclick="show(4)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#5" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>     

                    <li id="3" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>物事に対して王道であることを求めますか？</div>
                        <div class="qabox">
                            <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#7" onclick="show(7)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>       
                        <li id="4" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>涙もろく、思いっきり泣きたい時がありますか？</div>
                        <div class="qabox">
                            <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>       
                   
                    <li id="5" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>涙もろく、思いっきり泣きたい時がありますか？</div>
                        <div class="qabox">
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>     

                <li id="6" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>涙もろく、思いっきり泣きたい時がありますか？</div>
                    <div class="qabox">
                        <a href="#106" onclick="show(106)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#108" onclick="show(108)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                </li>       

                <li id="7" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>涙もろく、思いっきり泣きたい時がありますか？</div>
                    <div class="qabox">
                        <a href="#107" onclick="show(107)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#105" onclick="show(105)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                </li>     

                <li id="3" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>涙もろく、思いっきり泣きたい時がありますか？</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                </li>
                    </ul>
        
                    <div class="answerList">
        
                        <div id="101" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『進撃の巨人』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「進撃の巨人」</p>
        <p>舞台は人を食らう巨人に追われ、人類は壁のなかで暮らすことを余儀なくされてしまった世界。巨人に母を殺された少年エレン・イェーガーが復讐を誓い、巨人を倒すための調査兵団へ入団し巨人と戦っていく姿を描くダークファンタジー。</p>
        <p>諫山創先生という方が作者で、なんとこの作品はデビュー作。伏線回収に気付いた時、鳥肌が止まらないでしょう。いい意味で何回も裏切られます。たくさん作品を観てきましたが、この作品が一番好きです。全人類に布教したいです。</p>
                                
        　　　　　　　　　　　　　<p><a href="https://shingeki.tv/final/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="102" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『タコピーの原罪』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「タコピーの原罪」</p>
        <p>地球にハッピーを広めるため降り立ったハッピー星人・タコピー。助けてくれた少女・しずかの笑顔を取り戻すため奔走するが、少女を取り巻く環境は壮絶。無垢なタコピーには想像がつかないものだった。ただ笑って欲しかったタコピーが犯す罪とは…!?</p>
        <p>イラストの雰囲気とは全く異なった内容です。特に後半の怒涛の展開には目が離せません...！すぐに読み終わるので時間がない方にもおすすめです。</p>
        
                                <p><a href="https://www.shonenjump.com/j/rensai/list/takopi.html" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="103" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『輪るピングドラム』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「輪るピングドラム」</p>
        <p>これは、ある兄弟妹と、突然やってきたペンギンと、
        この世界の過去と未来についての物語である——。
        
        病気の妹・陽毬の命を救うため、謎のペンギン帽の命令により「ピングドラム」を探す
        高倉家の双子の兄弟・冠葉と晶馬。
        自身の運命を信じて日記に書かれた出来事を実現しつづける荻野目苹果。
        新たな運命を導くため萃果の日記を手に入れようとする夏芽真砂子。
        大切な運命の人を取り戻すために目的を果たそうとする多蕗桂樹と時籠ゆり。
        
        彼らはそれぞれの運命と大切な人の為に「ピングドラム」を追い続けたのだった。
        
        </p>最初の方はよく分からず、困惑したまま見ていましたが後半の展開からとんでもない展開になり、最後は涙なしでは観られません。映画版だと全部約4時間くらいで観れるのでおすすめです。
        <p></p>
        <p></p>
                                <p><a href="https://penguindrum10th.jp" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="104" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『オッドタクシー』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「オッドタクシー」</p>
        <p>平凡な毎日を送るタクシー運転手・小戸川。
        身寄りはなく、他人とあまり関わらない、少し偏屈で無口な変わり者。
        趣味は寝る前に聞く落語と仕事中に聞くラジオ。
        一応、友人と呼べるのはかかりつけでもある医者の剛力と、高校からの同級生、柿花ぐらい。
        彼が運ぶのは、どこかクセのある客ばかり。
        
        バズりたくてしょうがない大学生・樺沢、何かを隠す看護師・白川、
        いまいち売れない芸人コンビ・ホモサピエンス、
        街のゴロツキ・ドブ、売出し中のアイドル・ミステリーキッス…
        何でも無いはずの人々の会話は、やがて失踪した1人の少女へと繋がっていく。</p>
        <p>話数を重ねるごとに面白くなります。登場人物がたくさん出てきますが、みんなのちょっとした行動が全て伏線が貼られていて特に最終回は驚きの展開が待っています。おすすめです。</p>
        <p></p>
       　　　　　　　　　　　　　　 <p><a href="https://oddtaxi.jp/anime/" class="square_btn">もっと詳しくみる</a></p>                
    　　　　　　　　　　　　　　</div>
                            </div>
                        </div>
                        <div id="105" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『文豪ストレイドッグス』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
                            <p>「文豪ストレイドッグス」</p>
    <p>孤児院を追い出された18歳の少年・中島敦が主人公。
    孤児院を追い出され途方に暮れていた敦は、自殺を図っていた男・太宰治と出会う。実は太宰は、軍警でも手に負えない荒事を解決する異能力集団・武装探偵社の一員だった。
    その日の武装探偵社の任務であった人食い虎退治を手伝ったことがきっかけとなり、ヨコハマを部隊に、登場人物達が異能力バトルを繰り広げていく。
   </p>
    <p>文豪の作品をもとにした異能バトル漫画。この作品のおかげで、受験生の頃文学史の問題は間違えることはほぼありませんでした。ハラハラしたい方におすすめです。</p>
    <p></p>
                            <p><a href="http://bungo-stray-dogs.jp" class="square_btn">もっと詳しくみる</a></p>
                        </div>
                        </div>
                    </div>
                    <div id="106" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『五等分の花嫁』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>「五等分の花嫁」</p>
<p>貧乏な生活を送る高校２年生・上杉風太郎のもとに、好条件の家庭教師アルバイトの話が舞い込む。ところが教え子はなんと同級生！！　しかも五つ子だった！！　全員美少女、だけど「落第寸前」「勉強嫌い」の問題児！ 最初の課題は姉妹からの信頼を勝ち取ること…！？</p>
<p>とにかく可愛いです。女性が観てもときめきます。最後に誰と結ばれるか、そしてその過程も楽しめます！おすすめです！</p>
<p></p>
                        <p><a href="https://www.tbs.co.jp/anime/5hanayome/" class="square_btn">もっと詳しくみる</a></p>
                    </div>
                    </div>
                </div>   
                <div id="107" style="display:none;" class="answer point_box">
                <div class="box">
                    <div class="title">
                    <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『ブルーピリオド』</span></span>です！</p>
                    </div>
                <div class="txt">
                    <div class="img">
                    <%= image_tag '' %></div>
                    <p>「ブルーピリオド」</p>
<p>成績優秀かつスクールカースト上位の充実した毎日を送りつつ、どこか空虚な焦燥感を感じて生きる高校生・矢口八虎（やぐち やとら）は、ある日、一枚の絵に心奪われる。
その衝撃は八虎を駆り立て、美しくも厳しい美術の世界へ身を投じていく。

美術のノウハウうんちく満載、美大を目指して青春を燃やすスポコン受験物語、八虎と仲間たちの戦いが始まる！</p>
<p>主人公八虎くんのひたむきに努力する姿や、周りの友人との人間関係が面白いです。そして、作者が藝大出身ということもあり、絵が綺麗で引き込まれます。おすすめです。</p>
<p></p>
                    <p><a href="https://blue-period.jp" class="square_btn">もっと詳しくみる</a></p>
                </div>
                </div>
            </div>
            <div id="108" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるアニメ・漫画は<span class="fs-18"><span class="bg-y">『ご注文はうさぎですか？』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>「ご注文はうさぎですか？」</p>
        <p>ココアは高校に通うため親元を離れこの街で新生活を始めるべく下宿先である香風家を探して歩いていた。
 
        うさぎたちに囲まれながらコーヒーが飲める店だと勘違いして、喫茶店「ラビットハウス」に立ち寄ったココアは、そこで小さな女の子チノと、チノが頭にのっけたもふもふのティッピーに出会う。
        
        チノと話をしていると、実はこの店こそがココアの下宿先となる香風家であることが判明するのだが・・・。
        
       </p>
        <p>日常系のアニメです。非常に癒されます。心をぴょんぴょんさせたい人は必見です。</p>
        <p></p>
                                <p><a href="https://gochiusa.com/bloom/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        $(function(){
           $('a[href^=#]').click(function() {
              var speed = 600;
              var href= $(this).attr("href");
              var target = $(href == "#" || href == "" ? 'html' : href);
              var position = target.offset().top;
              $('body,html').animate({scrollTop:position}, speed, 'swing');
              return false;
           });
        });
        $(function(){
            h = $(window).height();
            h = h-30;
            $(".question").css("min-height", h + "px");
            $(".answerList .box").css("min-height", h + "px");
            
        });
        function show(idName){ 
            $("#" + idName).show();
        }
        
        </script>
        
        
</body>
</html>